
  
.Celebration {
    font-family: sans-serif;
    text-align: center;
  }
  
  .confettie-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 200px;
    opacity: 0.3;
  }
  
  

  