@import "../style.scss";
.MuiDialogActions-root,.css-1hbyad5-MuiTypography-root {
    display: none !important;
}

.css-jhsfre-MuiGrid-root-MuiPickersToolbar-content{
    h4{
    font-size: 1.3vw !important;
        color: black;
    }
}
.css-z3au5x-MuiButtonBase-root-MuiIconButton-root-MuiPickersToolbar-penIconButton svg{
    font-size: 1.5vw !important;
}
.css-dplwbx-MuiPickersCalendarHeader-label{
    font-size: 1vw !important;
    background-color: black;
    color: black;
    // padding: 2% 5%;
    border-radius: 10px;
    white-space: nowrap;
    width: 90%;
}
.css-u0soqy-MuiPickerStaticWrapper-root{
    width: 100%;
    div{
        border-radius: 20px 20px 0 0 !important;
        background-color: white;

    }
}

.css-12mkn7b-MuiButtonBase-root-MuiIconButton-root-MuiPickersCalendarHeader-switchViewButton{
    display: none !important;
}
.css-nk89i7-MuiPickersCalendarHeader-root{
    padding-left: 0 !important;
}
.css-10fao8b-MuiPickersCalendarHeader-labelContainer{
    width: 100%;
   text-align: center;
}
.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root:focus{
    background-color: black !important;
}
.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root.Mui-disabled{
    background-color: rgb(190, 190, 190) !important;
    color: white !important;
}

.css-j3g793-MuiCalendarOrClockPicker-root{
    width: 100% !important;
}
.css-31ca4x-MuiPickersFadeTransitionGroup-root{
    width: 100%;
}
.css-1ae9t7h-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button{
    svg{
        font-size: 1.5vw !important;
        fill: white;
    }
}
.css-jro82b-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button{
    svg{
        font-size: 1.5vw !important;
    }
}

.css-qklzlb-MuiDayPicker-header{
    span{
        font-size: 1vw !important;
    }
}

.css-6t5f1e-MuiDayPicker-monthContainer{
    div{
        button{
            font-size: 1vw !important;
        }
    }
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    font-size: 1vw !important;
}

.showDate{
    background-color: white;
    width: 100%;
    margin-bottom: 5%;
    color: black;
    text-align: center;
    font-size: 1.2vw;
}

.css-3eghsz-PrivatePickersYear-button{
    width: 90% !important;
}
.dataMainCon{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.dateCon{
    display: flex;
    flex-direction: column;
    width: 49%;
}
.hourCon{
    width: 49%;
    select{
        width: 100%;
        border: 1px white solid;
        background-color: transparent;
        color: white;
        padding: 2%;
        box-shadow: inset 2px 2px 2px white;
        border-radius: 10px;
        outline: none;
        appearance: none;
        font-size: $fs-1;
        option{
            background-color: #242424;
           
        }
    }
    a{
        display: flex;
        justify-content: center;
        height: 82%;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .booked{
        border: 1px white solid;
        height: 23.5vw;
        margin-top: 2%;
        border-radius: 20px;
        padding: 1%;
        overflow-y: scroll;
        &::-webkit-scrollbar{
            display: none;
        }
        h1{
            color: white;
            font-size: 1.2vw;
            text-align: center;
            margin-bottom: 2%;
        }
        p{
            background-color: white;
            color: black;
            padding: 0.5%;
            font-size: 1vw;
        border-radius: 10px;
        margin-bottom: 2%;

        }
    }
}

@media only screen and (max-width:800px) {
    .css-u0soqy-MuiPickerStaticWrapper-root{
        width: 100%;
        div{
            font-size: 3vw !important;
    
        }
    }
    .css-jhsfre-MuiGrid-root-MuiPickersToolbar-content{
        h4{
        font-size: 3.5vw !important;
        }
    }
    .css-z3au5x-MuiButtonBase-root-MuiIconButton-root-MuiPickersToolbar-penIconButton svg{
        font-size: 3vw !important;
    }
    .css-1ae9t7h-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button{
        svg{
            font-size: 5vw !important;
        }
    }
    .css-jro82b-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button{
        svg{
            font-size: 5vw !important;
        }
    }
    .css-qklzlb-MuiDayPicker-header{
        span{
            font-size: 3vw !important;
        }
    }
    .css-6t5f1e-MuiDayPicker-monthContainer{
        div{
            button{
                font-size: 3vw !important;
            }
        }
    }
    .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
        font-size: 3vw !important;
    }
    .dataMainCon{
        flex-wrap: wrap;
        .dateCon{
            width: 100%;
            overflow-x: scroll;
            &::-webkit-scrollbar{
                display: none;
            }
        }
        .hourCon{
            width: 100%;
            .booked{
                h1{
                    font-size: 3vw;
                }
                p{
                    font-size: 2.5vw;
                }
            }
            select{
                font-size: 2.5vw;
            }
            
        }
    }
    .showDate{
        font-size: 3vw;
    }
}